_______________________________________________________________________________________________

Тест

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# df = pd.read_csv("base/base_1_Москва_1_1.csv")
df = pd.read_csv("base/base.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15631 entries, 0 to 15630
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   author               15511 non-null  object
 1   author_type          15511 non-null  object
 2   url                  15631 non-null  object
 3   location             15631 non-null  object
 4   deal_type            15631 non-null  object
 5   accommodation_type   15631 non-null  object
 6   floor                15631 non-null  object
 7   floors_count         15631 non-null  object
 8   rooms_count          15631 non-null  object
 9   total_meters         15631 non-null  object
 10  price_per_month      15631 non-null  object
 11  commissions          15631 non-null  object
 12  price                15605 non-null  object
 13  district             11379 non-null  object
 14  street               10923 non-null  object
 15  house_number         11660 non-null  object
 16  underground          11235 non-null  object
 17  residential_complex  11430 non-null  object
dtypes: object(18)
memory usage: 2.1+ MB

In [20]:
# print("Unique values in author\n",df['author'].unique())

df = pd.read_csv("base/base.csv")

df['author'] = df['author'].astype(str)
df['author']

0        ZAPAD REALTY - офис Маршала Жукова
1                           PROНЕДВИЖИМОСТЬ
2                                  Дипломат
3                             Kalinka Group
4                            ЛЮДИ ДЛЯ ЛЮДЕЙ
                        ...
15626                      САДОВЫЕ КВАРТАЛЫ
15627                 Intermark Real Estate
15628                               VOS'HOD
15629                    Point Estate Город
15630                           NIKA ESTATE
Name: author, Length: 15631, dtype: object

In [8]:
import pandas as pd

df = pd.read_csv("base/base.csv")
total = df.drop(['price_per_month', 'deal_type', 'accommodation_type'], axis=1)
total.info()

total.to_csv( "./res.csv", index=False, encoding='utf-8-sig')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15631 entries, 0 to 15630
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   author               15511 non-null  object
 1   author_type          15511 non-null  object
 2   url                  15631 non-null  object
 3   location             15631 non-null  object
 4   floor                15631 non-null  object
 5   floors_count         15631 non-null  object
 6   rooms_count          15631 non-null  object
 7   total_meters         15631 non-null  object
 8   commissions          15631 non-null  object
 9   price                15605 non-null  object
 10  district             11379 non-null  object
 11  street               10923 non-null  object
 12  house_number         11660 non-null  object
 13  underground          11235 non-null  object
 14  residential_complex  11430 non-null  object
dtypes: object(15)
memory usage: 1.8+ MB